<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{{ SITE_NAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
</head>

<body id="index" class="home">
<header id="banner" class="body">
    <h1><a href="{{ SITEURL }}">{{ SITE_NAME }} <strong>{{ SITE_SLOGAN
        }}</strong
            ></a></h1>
</header><!-- /#banner -->
{% endblock %}
{% block content %}
{% endblock %}
<footer id="contentinfo" class="body">
    <address id="about" class="vcard body">
        Powered by <a href="http://github.com/aesptux/yassg"><b>yassg.</b></a>
    </address><!-- /#about -->
</footer><!-- /#contentinfo -->
</body>
</html>
